<div id="centerCol">
<%= form_for(@post_cat) do |f| %>
  <% if @post_cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_cat.errors.count, "error") %> prohibited this post_cat from being saved:</h2>

      <ul>
      <% @post_cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cat_name %><br />
    <%= f.text_field :cat_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
