<div id="postListing">
	<h1>Recent <%= @post_cat.cat_name %> Posts</h1>
	<% if @posts.present? %>
		<% @posts.each do |post| %>
			<i><%= link_to post.name, post %></i><br />
				<span><%= post.blurb %></span><br /><br />
					<%= render :partial => "/posts/item_list", :locals => {:post => post} %>
				<span><%= post.description %></span>
					<p><%= image_tag('/assets/postdivider.png') %></p>
		<% end %>
	<% end %>
</div>
