<div id="postListing">
	<% if admin? %>
		<%= link_to 'New Post', new_post_path, :class => 'admin' %><br />
	<% end %>
		<% @posts.each do |post| %>
			<%= link_to post.name, post %>
				<div class="text"><%= post.blurb %></div><br /><br />
					<%= render :partial => "/posts/item_list", :locals => {:post => post} %>
				<div class="text"><%== post.description %></div><br />
		<% if admin? %>
		<%= link_to 'Delete Post--^', post, :confirm => "Are you sure?", :method => :delete,  :class => 'admin' %>
		<% end%>
			<p><%= image_tag('/assets/postdivider.png')%></p>
		<% end %>
</div>
